.comprobar_container {
	// background-color: blue;
	// over
	height: 100%;
	display: grid;
	grid-column-gap: 0;
	grid-template-columns: 1.5fr 1fr;
}
.comprobar_container_2 {
	// background-color: blue;
	height: 100%;
	display: grid;
	grid-column-gap: 0;
	grid-template-columns: 1fr 1fr;
}

.img_container {
	display: flex;
	justify-content: center;
	// padding: 3px;
}

.prueba {
	text-decoration: none;
}

.img_tamano {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 100%;
}

.MuiStepper-root {
	display: flex;
	width: 95vw;
	padding: 4px !important;
}

.btn-divfloat {
	position: fixed !important;
	bottom: 1.5rem;
	left: 38%;
}

.titulo {
	color: red;
	display: flex;
	align-items: center;
}

.MuiDialog-paperFullScreen{
	overflow-x: hidden;
}

.swal2-validated {
	z-index: 999999 !important;
}
