.swal2-validated {
	z-index: 999999 !important;
}

.img_container_center {
	display: center;
	position: fixed;
	justify-content: center;
	top: 47%;
	left: 50%;
	margin-top: -100px; 
	margin-left: -250px;	
}
