.container-formMaldito {
	display: flex;
}

.titleFM {
	fontSize: 2rem; 
	padding: 0; 
	margin: 0;
	margin-bottom: 1rem;
}

.capitan-america {
	background: url("https://imagenes.heraldo.es/files/image_990_v1/uploads/imagenes/2018/11/12/_20MARCHIVO30499280_b08f782d.jpg")  no-repeat left;
	height: 100%;
	width: 70%;
	left: -10%;
	position: fixed;
	opacity: 0.2;
	z-index: -1;
}

.container-form {
	padding: 0;
	width: 50vw;
}

.container-steps{
	display: flex;
	width: 50vw;
	width: auto;
	justify-content: left;
	align-items: center;
	flex-direction: column;
	margin-top: 1rem;
}
