.cmn-divfloat {
	position: fixed !important;
	bottom: 45px;
	right: 15px;
}

.img_container{
	display: center;
	position: fixed;
	justify-content: center;
	top: 47%;
	left: 50%;
	margin-top: -100px; 
	margin-left: -250px;	
}
