.paperUser {
	position: relative;
	background: white;
	border-radius: 12px;
	width: 80vw;
}

.container-modal {
	display: grid;
	grid-column-gap: 0;
	grid-template-columns: 1fr 1fr;
	margin: '0';
}

.container-left {
	position: relative;
	background: #2f3775;
	width: 100%;
	height: auto;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	align-items: center;
	justify-content: center;
}

.title-left {
	position: absolute;
	color: #fff;
	top: 15%;
	font-size: 2.5vw;
	letter-spacing: 2px;
	font-weight: 700;
	z-index: 1;
}

.img-left {
	width: 60%;
	padding: 0;
	margin: 0;
}

.container-right {
	margin: 0;
	position: relative;
}

.vin-link {
	display: block;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 20px;
	margin-top: 2%;
	width: 100%;
	text-decoration: none;
	font-size: 13px;
}

.img-right {
	width: 50%;
	margin-top: 5%;
}

.content-checkEmail h2 {
	font-weight: 500;
	font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
	.container-left {
		display: flex;
	}
}

@media only screen and (max-width: 1023px) {
	.container-modal {
		grid-template-columns: 1fr;
	}
	.img-right {
		margin-top: 3rem;
	}
}

@media only screen and (max-width: 600px) {
	.img-right {
		width: 60%;
	}
}

/****** Animation check */
.success-checkmark2 {
	width: 80px;
	height: 115px;
	margin: 0 auto;

	.check-icon2 {
		width: 80px;
		height: 80px;
		position: relative;
		border-radius: 50%;
		box-sizing: content-box;
		border: 4px solid #4caf50;

		&::before {
			top: 3px;
			left: -2px;
			width: 30px;
			transform-origin: 100% 50%;
			border-radius: 100px 0 0 100px;
		}

		&::after {
			top: 0;
			left: 30px;
			width: 60px;
			transform-origin: 0 50%;
			border-radius: 0 100px 100px 0;
			animation: rotate-circle2 2s linear infinite;
		}

		&::after {
			content: '';
			height: 100px;
			position: absolute;
			background: #ffffff;
			transform: rotate(100deg);
		}

		//border claro base
		.icon-circle2 {
			top: -4px;
			left: -4px;
			z-index: 10;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			position: absolute;
			box-sizing: content-box;
			border: 4px solid rgba(76, 175, 80, 0.5);
		}

		/*
		.icon-fix {
				top: 8px;
				width: 5px;
				left: 26px;
				z-index: 1;
				height: 85px;
				position: absolute;
				transform: rotate(0deg);
				background-color: #FFFFFF;
		}
		*/
	}
}

@keyframes rotate-circle2 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/****** Animation check */
.success-checkmark {
	width: 80px;
	height: 115px;
	margin: 0 auto;

	.check-icon {
		width: 80px;
		height: 80px;
		position: relative;
		border-radius: 50%;
		box-sizing: content-box;
		border: 4px solid #4caf50;

		&::before {
			top: 3px;
			left: -2px;
			width: 30px;
			transform-origin: 100% 50%;
			border-radius: 100px 0 0 100px;
		}

		&::after {
			top: 0;
			left: 30px;
			width: 60px;
			transform-origin: 0 50%;
			border-radius: 0 100px 100px 0;
			animation: rotate-circle 7s ease-in;
		}

		&::before,
		&::after {
			content: '';
			height: 100px;
			position: absolute;
			background: #ffffff;
			transform: rotate(-45deg);
		}

		.icon-line {
			height: 5px;
			background-color: #4caf50;
			display: block;
			border-radius: 2px;
			position: absolute;
			z-index: 10;

			&.line-tip {
				top: 46px;
				left: 14px;
				width: 25px;
				transform: rotate(45deg);
				animation: icon-line-tip 1.2s;
			}

			&.line-long {
				top: 38px;
				right: 8px;
				width: 47px;
				transform: rotate(-45deg);
				animation: icon-line-long 1.2s;
			}
		}

		.icon-circle {
			top: -4px;
			left: -4px;
			z-index: 10;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			position: absolute;
			box-sizing: content-box;
			border: 4px solid rgba(76, 175, 80, 0.5);
		}

		.icon-fix {
			top: 8px;
			width: 5px;
			left: 26px;
			z-index: 1;
			height: 85px;
			position: absolute;
			transform: rotate(-45deg);
			background-color: #ffffff;
		}
	}
}

@keyframes rotate-circle {
	0% {
		transform: rotate(-45deg);
	}
	5% {
		transform: rotate(-45deg);
	}
	12% {
		transform: rotate(-405deg);
	}
	100% {
		transform: rotate(-405deg);
	}
}

@keyframes icon-line-tip {
	0% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	54% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}
	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}
	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}

@keyframes icon-line-long {
	0% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	65% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	84% {
		width: 55px;
		right: 0px;
		top: 35px;
	}
	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}
