.paperUser {
	position: relative;
	background: #fcfcfc;
	border-radius: 20px;
	width: 50vw;
	padding: 1rem;
	z-index: 9999;
}

.container-modal {
	display: grid;
	margin: 0;
	border-radius: 20px;
	transition: all 200ms ease;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
}

.container-top {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icons-alert {
	font-size: 5rem !important;
	color: #ff0000;
	width: 7rem !important;
	height: 7rem !important;
}

.textarea-alert {
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	resize: none;
	font-size: 20px;
	line-height: 24px;
	overflow: auto;
	height: auto;
	padding: 8px;
	border: solid .5px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 4px 10px -8px #000000;
	margin: 1rem 0;
}

.container-text {
	max-width: 500px;
	font-size: 18px;
	text-align: justify;
	margin: 1rem 0;
}

