.cmn-divfloat {
	position: fixed !important;
	bottom: 16px;
	right: 32px;
}

.img_container {
	display: center;
	position: fixed;
	justify-content: center;
	top: 47%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
}

.img_container_center {
	display: center;
	position: fixed;
	justify-content: center;
	top: 47%;
	left: 50%;
	margin-top: -100px; 
	margin-left: -250px;	
}

.swal2-validated {
	z-index: 999999 !important;
}

.comprobar_container {
	width: 90%;
}
.comprobar_container_2 {
	width: 90%;
	display: grid;
	grid-column-gap: 5% !important;
	grid-template-columns: 1fr 1fr;
}

.img_container {
	display: center;
	position: fixed;
	justify-content: center;
	top: 47%;
	left: 50%;
	margin-top: -100px; 
	margin-left: -250px;	
}

.img_container_1 {
	display: flex;
	position: fixed;
	justify-content: center;
	left: 5%;
}

.img_container_2 {
	display: flex;
	position: fixed;
	justify-content: center;
	right: 15%;
}

.prueba {
	text-decoration: none;
}

.img_tamano {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 100%;
}

.MuiStepper-root {
	display: flex;
	width: 95vw;
	padding: 4px !important;
}

.btn-divfloat {
	position: fixed !important;
	bottom: 1.5rem;
	left: 38%;
}

.titulo {
	color: red;
	display: flex;
	align-items: center;
	margin: 1rem;
	margin-top: -1rem;
}

.MuiDialog-paperFullScreen{
	overflow-x: hidden;
}

.swal2-validated {
	z-index: 999999 !important;
}
