.container-step{
	width: 100% !important;
}

.btn_step {
	width: 40% !important;
}

.btn_ident {
}

.btn_corto {
	width: 10ch !important;
}

.btn_medio {
	width: 40ch !important;
}

.btn_largo {
	width: 100% !important;
}

.btn_type_id {
	height: 6ch !important;
	width: 16% !important;
	margin-right: 4% !important;
}

.btn_num_id{
	height: 6ch !important;
	width: 80% !important;
}
