@keyframes rotatee {
  from{
    text-shadow: 0 20px 20px #2c482e, 0 -2px 1px #aeffb4;
    transform:rotateY(90deg);
  }
  to {
    text-shadow: 0 14px 9px #2c482e, 0 -2px 1px #aeffb4;
    transform:rotateY(-90deg);
  }
}

.toto {
  animation: rotatee 7s linear infinite;
}
