// Colors
$primary: #5c62c5;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

// Globales

$width: 300px;
$padding: 10px;
$bgcolor: rgb(52, 52, 52);
$hovercolor: rgb(23, 23, 23);
$width-colapser: 50px;
